@import '../fonts/dana/fontiran.css';
@import 'react-multi-date-picker/styles/colors/teal.css';
@import 'react-multi-date-picker/styles/backgrounds/bg-dark.css';
@import 'react-multi-date-picker/styles/layouts/mobile.css';
@import './staking.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#goftino_w {
	bottom: 70px !important;
	display: block !important;

	max-width: 100vw !important;
	max-height: 70vh !important;
}

* {
	outline: none;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey !important;
	border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #5e6673 !important;
	border-radius: 10px !important;
}

@font-face {
	font-family: 'YekanBakh';
	src: url('../fonts/YekanBakh/FaNum/YekanBakhFaNumMedium.eot');
	src: url('../fonts/YekanBakh/FaNum/YekanBakhFaNumMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YekanBakh/FaNum/YekanBakhFaNumMedium.woff') format('woff'),
		url('../fonts/YekanBakh/FaNum/YekanBakhFaNumMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('../fonts/Vazir/Vazirmatn-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mono';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/monospace.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IRANYekan';
	src: url('../fonts/IRANYekan/IRANYekanXFaNum-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: 'IRANYekan','Vazir', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	/* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
}

body {
	font-family: 'IRANYekan', dana, Calibri, Segoe, 'Segoe UI', 'Gill Sans', 'Gill Sans MT', sans-serif;
}

a {
	color: inherit;
	transition: unset;
	text-decoration: none;
}

/*.cc-1oun {*/
/*	display: none !important;*/
/*}*/

body {
	@apply bg-body dark:bg-body-dark text-heading dark:text-pColor;
}

/* container */
.container {
	@apply mx-auto max-w-[1368px] px-5;
}

.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
	background-color: #0d1726 !important;
}

.custom-calendar .rmdp-month-picker {
	background-color: #0d1726 !important;
}

.custom-calendar .rmdp-year-picker {
	background-color: #0d1726 !important;
}

.rmdp-container {
	width: 100%;
}

.text-secondary {
	@apply dark:text-gray-300 text-slate-800;
}

.pagination {
	margin: 0 auto !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.border-main {
	@apply border-gray-600 dark:border-gray-300;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar {
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

.otc-input-bg {
	@apply dark:bg-slate-800 bg-white;
}

.markdown-content {
	h1 {
		@apply text-2xl font-bold mt-4 mb-2;
	}

	h2 {
		@apply text-xl font-bold mt-4 mb-2;
	}

	h3 {
		@apply text-lg font-semibold mt-4 mb-2;
	}

	ul,
	ol {
		@apply list-disc list-inside pl-5 mb-4 text-sm inline-block;
	}

	li {
		@apply mb-2;
		list-style-position: inside;
		line-height: 1.5;
	}

	p {
		@apply mb-4;
	}

	a {
		@apply underline;
		color: #0773F1;
	}
}


input {
	outline: none !important;
}